<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- ====================生命周期==================== -->
    <!--注意：这里配置的name是张三，age是25,我们会通过beanPostProcessor来修改nage和age -->
    <bean id="myLifeCycleBean" class="org.springframework.luozlspringtest.springsource.spring09.LifeCycleBean"
          destroy-method="myDestroy"
          init-method="myInit">
        <property name="name" value="张三"/>
        <property name="age" value="25"/>
    </bean>
    <bean id="myBeanPostProcessor" class="org.springframework.luozlspringtest.springsource.spring09.LifeCycleBeanPostProcessor"/>
</beans>