<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.springframework.luozlspringtest.springsource.spring24.ClassA" id="classA" scope="prototype">
        <property name="classB" ref="classB"/>
    </bean>
    <bean class="org.springframework.luozlspringtest.springsource.spring24.ClassB" id="classB" scope="prototype">
        <property name="classA" ref="classA"/>
    </bean>
</beans>